@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
    --main-color: #4070a7;
    --main-color-light: #5e97d8;
    --text-color: #F2EFEA;
    --compliment-color: #2e2e2e;
    --smoke-white: #f7f7f7;
    --dark-grey: rgb(175, 175, 175);
}

body{
    font-family: 'Roboto', sans-serif;    
}
.wrapper{
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2rem;
}
.site{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.landing{
    position: relative;

}
.landing:hover:before{
    filter: blur(2px) grayscale(50%);
}
.landing:before{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-attachment: fixed;
    background-image: url("images/shelves.png");
    transition: filter 0.2s ease-in;
}
.landing .wrapper{
    background: rgb(148,148,148);
    background: radial-gradient(circle, rgba(148,148,148,0.6612394957983193) 0%, rgba(214,214,214,0.720063025210084) 55%);
    min-height: 80vh;
    text-align: center;
}
.landing h1{
    font-weight: 500;
    padding-top: 3em;
    padding-bottom: 6em;
    
}
.landing a{
    padding: 1em 2em;
    background-color: var(--compliment-color);
    color:var(--text-color);
    border-radius: 30px;

}
.landing a:hover{
    font-size: 1.04em;
}

/* FORMS */
form.with-legend{
    max-width: 27em;
    margin: 5em auto 0 auto;
    box-shadow: 0 0px 0.5em 0 rgba(0, 0, 0, 0.2);
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
}
textarea{
    resize: none;
}
form.with-legend textarea,
form.with-legend input[type="text"],
form.with-legend input[type="tel"],
form.with-legend input[type="email"],
form.with-legend input[type="password"]{
    display: block;
    width: 100%;
    border: 1.5px solid #CCC;
    padding: 3px;
    border-radius: 0.3em;
    outline: none;
    transition: border 0.3s ease-in;
}
form.with-legend textarea:hover,
form.with-legend input[type="text"]:hover,
form.with-legend input[type="tel"]:hover,
form.with-legend input[type="email"]:hover,
form.with-legend input[type="password"]:hover{
    border-color: var(--main-color);
}

form.with-legend textarea:focus,
form.with-legend input[type="text"]:focus,
form.with-legend input[type="tel"]:focus,
form.with-legend input[type="email"]:focus,
form.with-legend input[type="password"]:focus{
    border-color: var(--main-color);
}
form.with-legend textarea:focus + label,
input[type="text"]:focus + label,
input[type="tel"]:focus + label,
input[type="email"]:focus + label,
input[type="password"]:focus + label{
    color: var(--main-color);
}

form.with-legend fieldset {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 1em;   
}
form.with-legend .form-content{
    padding: 1em 3em;
}
legend {
    padding: 0 1em;
    font-weight: bold;
    font-size: 1.4em;
    color: var(--main-color);
}
form.with-legend .field{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0 auto;
}

form.with-legend .field + .field{
    margin-top: 1em;
}
form.with-legend label{
    transition: color 0.3s ease-in;
}
form.with-legend .field-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
form.with-legend .field-submit button{
    padding: 0.5em 1.2em;
    border-radius: 0.3em;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: #FFFEE0;
    margin-top: 1em;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    cursor:pointer;
}
form.with-legend .field-submit button:hover{
    background-color: rgb(255, 249, 249);
    color: var(--compliment-color);
}

form.search input{
    padding: 0.3em 0.5em;
    border: 2px solid #CCC;
    border-radius: 0.3em;
    transition: border 0.3s ease-in;
}
form.search input:hover{
    border-color: var(--main-color);
}
form.search button{
    margin-left: 0.3em;
    border-radius: 3px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 0.3em 0.5em;
}
form.search button:hover{
    background-color: transparent;
    color: var(--compliment-color);
    cursor: pointer;
}

.content-header{
    text-align: center;
    padding: 3em 0 2em 0;
}
.content-header h2{
    padding-bottom: 0.5em;
}
.inventory-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.item-card{
    padding: 1em 2em;
    background-color: var(--smoke-white);
    border-radius: 3px;
    flex: 0 0 31%;
    margin-top: 1em;
}
.item-card .item-header{
    padding-bottom: 7px;
    border-bottom: 2px solid var(--dark-grey);
}
.item-card .item-header h3{
    font-weight: 500;
    color: var(--main-color)
}
.item-content{
    padding: 0.8em 0;
}
.item-content p{
    padding-bottom: 7px;
}
.item-footer{
    text-align: end;
    border-top: 2px solid var(--dark-grey);
    padding: 7px 7px 0 7px;
}
span.green{
    color: green;
}
span.red{
    color: red;
}
span.blue{
    color: royalblue;
}

.shifts{
    margin-bottom: 2em;
}
.shift{
    background-color: var(--smoke-white);
    padding: 1em;
}
.shift + .shift{
    margin-top: 1em;
}
.shift-header{
    padding-bottom: 7px;
}
.shift-content{
    border-top: 2px solid var(--dark-grey);
    padding: 1em 1em 0 1em;
}
.shift-content p{
    padding-bottom: 7px;
}
.shift-content.current-content{
    border-top: 2px solid var(--main-color);
}
.current-day{
    background-color: var(--main-color-light);
    color: var(--text-color);
}

footer .wrapper{
    display: flex;
    flex-wrap: wrap;
}
.footer-content{
    flex: 0 0 50%;
}
.footer-content.right{
    text-align: end;
}

.fab{
    font-size: 2em;
    color: white;
    margin-left: 1em;
}
.fab:hover{
    color: var(--main-color-light);
}